$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);

button {
  outline: none;
  border: 1px solid $Black;
  background-color: $White;
  padding: 0.5rem 2.5rem;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  letter-spacing: 0.3rem;
  font-weight: 500;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

button:hover {
  background-color: $Black;
  color: $White;
  cursor: pointer;
}
