$White: hsl(0, 0%, 100%);

a {
  color: $White;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  width: 80%;
  height: 2px;
  background-color: $White;
  position: absolute;
  bottom: -0.5rem;
  right: 50%;
  transform-origin: center;
  transform: translateX(50%) scale(0);
  transition: transform 0.3s ease-in;
}

a:hover::after {
  transform: translateX(50%) scale(1);
}
